{% extends 'base.html' %}

{% block content %}

	<!-- Intro -->
	<section id="intro" class="wrapper style1">
		<div class="title">Recipe Search</div>
		<div class="container">
			<form action="{% url 'description' %}" method="GET">
				<p class="style2">음식 설명 검색</p><br>
				<input type = "text" name = "query1"><br>
				<input type = "submit" value="검색" class="style3"><br>
			</form>
			<form action="{% url 'ingredient' %}" method="GET">
				<p class="style2">음식 재료 검색</p><br>
				<input type = "text" name = "query2"><br>
				<input type = "submit" value="검색" class="style3"><br>
			</form>
		</div>
	</section>
{% endblock %}
